.project-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 20vw;
}

.project-card {
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
:host-context(body.dark-theme) .project-card {
  background: #ffffff0d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
:host-context(body.light-theme) .project-card {
  background: #ffffffe6;
}
