.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
}
li {
  display: flex;
  padding: 10px;
}

a {
  text-decoration: underline;
}

.contact-icon {
  width: 16px;

  border-radius: 5px;
}
:host-context(body.light-theme) .contact-icon {
  filter: invert(1);
  background-color: black;
}
:host-context(body.dark-theme) .contact-icon {
  background-color: white;
}
